* {margin:0 0;padding: 0 0;}
body {width: 800px; font-size: 14px; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"}
header{height:64px;width:800px; display:inline-flex;}
div.logo {padding-right:300px;display:flex; align-items:center; width:200px;}
nav {display:flex; justify-content:flex-end; align-items:center;width:auto;}
ul {}
nav ul li{display:inline;}
section.banner {display:flex;padding: 32px 24px;background-color:#d8d8d8;}
div.banner-text {;padding-left:24px;padding-top:50px;padding-bottom:50px;}
div.button {display:inline-block;border:1px solid black;width:235px;}
div.banner-text p {padding-bottom:40px;}
div.button p {bckground-color:#4a4a4a;font-size:16px; text-align:center;padding-top:8px;padding-bottom:8px;}